.sender{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin:1rem;
    >div{
        &:nth-child(1){
            display:flex;
            align-items: center;
            gap:0.5rem;

            >p{
                &:nth-child(1){
                    font-size:0.8rem;
                    font-weight: bold;
                    font-weight: bold;
                    display:none;
                }
                &:nth-child(2){
                    font-size: 0.8rem;
                }
            }
        }

        &:nth-child(2){
            >p{
                font-size: 0.6rem;
                color:gray;
            }
        }
       
    }      
}

.receiver{
    margin:1rem;
    background-color:whitesmoke;
    padding-bottom: 0.2rem;
    >div{
        &:nth-child(1){
            display:flex;
            align-items: center;
            gap:0.5rem;

            >p{
                font-size:0.8rem;
                font-weight: bold;
            }
            >div{
                >img{
                    width:40px;
                    height:40px;
                }
                >p{
                    font-size: 0.7rem;
                    display:none;
                }
            }
        }

        &:nth-child(2){
            >p{
                font-size: 0.6rem;
                color:gray;
            }
        }
       
    }  
}
